{% extends "layout2.html" %}

{% block title %}
    Account
{% endblock %}


{% block barcontent %}
<a class="nav-item nav-link h5" href="{{ url_for('events') }}">Events</a>
<a class="nav-item nav-link h5" href="{{ url_for('anniversary') }}">Anniversaries</a>
<a class="nav-item nav-link h5" href="{{ url_for('tasks') }}">Tasks</a>
<a class="nav-item nav-link h5" href="{{ url_for('passwords') }}">Passwords</a>
{% endblock %}

{% set legend1 = "Add" %}
{% set legend2 = "Update" %}

{% block content %}
<style>
    .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
</style>
<div class="container" style="padding-top: 120px;">
    <div class="row justify-content-center"> 
        <div class="col-12 col-md-8">
           
            <div class="row row-content justify-content-center">
              <div class="mt-2 col-12 col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>

            <div class="row row-content justify-content-center";">
                <div class="mt-2 col-12 col-md-8">
                    <div class="row row-content" style="background-color: ghostwhite; border-radius: 20px;">
                        <div class="col-3" style="padding-top: 10px;">
                            <img src="{{ image }}" alt="User" class="account-img rounded-circle">
                        </div>
                        <div class="ml-3 col-7 text-dark text-left" style="padding-top: 32px;">
                            <div class="row row-content justify-content-center">
                                 <h4>{{ current_user.username }}</h4>
                            </div>
                            <div class="row row-content justify-content-center ml-3">
                                <small>{{ current_user.email }}</small>      
                            </div> 
                        </div>
                    </div>
                  
                </div>
              </div>

            <div class="row row-content justify-content-center">
                <div class="col-12 col-md-8 mt-1">
                    <div class="card mt-3" style="border:none; border-radius: 20px 20px 20px 20px;">
                        <div class="h4 card-header bg-danger text-white" style="border-radius: 20px 20px 0px 0px;">Your Profile</div>
                        <div class="card-body h6">
                            <div class="row justify-content-center">
                                <form method="POST" action="" class="col-12" enctype="multipart/form-data">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group col-12 mt-2">
                                        {{ form.firstname.label(class="form-control-label") }}
                                        {% if form.firstname.errors %}
                                            {{ form.firstname(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.firstname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.firstname(class="form-control form-control-lg", autocomplete="off") }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-12 mt-2">
                                        {{ form.lastname.label(class="form-control-label") }}
                                        {% if form.lastname.errors %}
                                            {{ form.lastname(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.lastname.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.lastname(class="form-control form-control-lg", autocomplete="off") }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-12 mt-2">
                                        {{ form.username.label(class="form-control-label") }}
                                        {% if form.username.errors %}
                                            {{ form.username(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.username(class="form-control form-control-lg", autocomplete="off") }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-12 mt-2">
                                        {{ form.email.label(class="form-control-label") }}
                                        {% if form.email.errors %}
                                            {{ form.email(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.email(class="form-control form-control-lg", autocomplete="off") }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-12 mt-2">
                                        {{ form.profile.label(class="form-control-label") }}
                                        {% if form.profile.errors %}
                                            {{ form.profile(class="form-control form-control-lg is-invalid", autocomplete="off") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.profile.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.profile(class="form-control form-control-lg", autocomplete="off") }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group col-12 mt-3">
                                        {{ form.submit(class="btn btn-danger") }} 
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-none d-md-block" style="background-color: #633942; border-radius: 20px 20px 20px 20px; height: 300px; position: sticky; top: 120px;">
            <h3 class="text-white mt-3" style="text-align: center;">Store More</h3>
            <p style="text-align: center;" >
              <small><b>Get going! Add more information.</b></small>
              <div class="list-group" style="border-radius: 20px 20px 20px 20px; text-align: center;">
                {% if legend == legend1 %}
                    <a href="{{ url_for('new_anniversary') }}" class="list-group-item list-group-item-action active">Add Anniversary</a>
                {% else %}
                    <a href="{{ url_for('new_anniversary') }}" class="list-group-item list-group-item-action">Add Anniversary</a>
                {% endif %}
                
                <a href="{{ url_for('new_task') }}" class="list-group-item list-group-item-action">Add Task</a>

                <a href="{{ url_for('new_password') }}" class="list-group-item list-group-item-action">Add Password</a>
            </div>
            </p>           
        </div>
    </div>
</div>

{% endblock %}



















