{% extends "layout2.html" %}

{% block title %}
    Anniversaries
{% endblock %}


{% block barcontent %}
<a class="nav-item nav-link active h5" shref="{{ url_for('events') }}">Events</a>
<a class="nav-item nav-link h5" href="{{ url_for('anniversary') }}">Anniversaries</a>
<a class="nav-item nav-link h5" href="{{ url_for('tasks') }}">Tasks</a>
<a class="nav-item nav-link h5" href="{{ url_for('passwords') }}">Passwords</a>
{% endblock %}


{% block content %}

<div class="container" style="padding-top: 120px;">
    <div class="row justify-content-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="col-12 col-md-8">
                    <div class="alert alert-{{ category }}" style="text-align: center;">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="row justify-content-center">
        {% if anniversaries %}
            <ul class="col-12 col-md-6" style="list-style-type: none;">
                <header class="h2 text-white mb-5" style="text-align: center; background-color: #50202b; border-radius: 20px 20px 20px 20px; height: 50px; line-height: 35px;">Today's Anniversaries!</header>

                {% for anniversary in anniversaries %}
                    <li class="mt-2">
                            <div class="card" style="border:none; border-radius: 20px 20px 20px 20px;">
                                <div class="h5 card-header bg-danger text-white" style="border-radius: 20px 20px 0px 0px;">{{ anniversary.types }}</div>
                                <div class="h6 card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-12 mt-1">
                                            {{ anniversary.name }} has {{ anniversary.types }} today!
                                        </div>
                                        {% if anniversary.note %}
                                        <div class="col-12 mt-2">
                                               <strong>Note:</strong> {{ anniversary.note }}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="row justify-content-center mt-3">
                                        <div class="col-4">
                                            <form action="{{ url_for('update_anniversary', itsid=anniversary.id) }}">
                                                <button class="btn btn-primary" style="width: 100px;">Edit</button>
                                            </form>
                                        </div>
                                        <div class="col-4">
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#{{ anniversary.id }}" style="width: 100px;">Delete</button>
                                            <div class="modal fade" id="{{ anniversary.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ anniversary.id }}Label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="{{ anniversary.id }}Label">Delete Anniversary?</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      <form action="{{ url_for('delete_anniversary', itsid=anniversary.id) }}" method="POST">
                                                          <input type="submit" class="btn btn-danger" value="Delete">
                                                      </form>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if tasks %}
            <ul class="col-12 col-md-6" style="list-style-type: none;">
                <header class="h2 text-white mb-5" style="text-align: center; background-color: #50202b; border-radius: 20px 20px 20px 20px; height: 50px; line-height: 35px;">Tasks for today!</header>
                {% for task in tasks %}
                    <li class="mt-2">
                        <div class="card" style="border:none; border-radius: 20px 20px 20px 20px;">
                            <div class="h5 card-header bg-danger text-white" style="border-radius: 20px 20px 0px 0px;">{{ task.title }}</div>
                            <div class="h6 card-body">
                                <div class="row justify-content-center">
                                    <div class="col-12 mt-1">
                                        {{ task.title }} must be completed by today!
                                    </div>
                                    <div class="col-12 mt-2">
                                           <strong>Note:</strong> {{ task.note }}
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-3">
                                    <div class="col-4">
                                        <form action="{{ url_for('update_task', itsid=task.id) }}">
                                            <button class="btn btn-primary" style="width: 100px;">Edit</button>
                                        </form>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#{{ task.id }}" style="width: 100px;">Delete</button>
                                        <div class="modal fade" id="{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ task.id }}Label" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="{{ task.id }}Label">Delete Task?</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <form action="{{ url_for('delete_task', itsid=task.id) }}" method="POST">
                                                      <input type="submit" class="btn btn-danger" value="Delete">
                                                  </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}