{% extends "layout2.html" %}

{% block title %}
    {{ legend }} Task
{% endblock %}


{% block barcontent %}
<a class="nav-item nav-link h5" href="{{ url_for('events') }}">Events</a>
<a class="nav-item nav-link h5" href="{{ url_for('anniversary') }}">Anniversaries</a>
<a class="nav-item nav-link h5" href="{{ url_for('tasks') }}">Tasks</a>
<a class="nav-item nav-link h5" href="{{ url_for('passwords') }}">Passwords</a>
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 120px;">
    <div class="row justify-content-center"> 
        <div class="col-12 col-md-8">
            <div class="row row-content justify-content-center">
              <a href="{{ url_for('passwords') }}" type="button" class="btn btn-success">All Passwords</a>
            </div>
            <div class="row row-content justify-content-center">
              <div class="mt-4 col-12 col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} mt-2">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>
            <div class="row row-content justify-content-center">
                <div class="col-12 col-md-8 mt-1">
                    <div class="card" style="border:none; border-radius: 20px 20px 20px 20px;">
                        <div class="h4 card-header bg-danger text-white" style="border-radius: 20px 20px 0px 0px;">Verify its you!</div>
                        <div class="card-body h6">
                            <div class="row justify-content-center">
                                <form method="POST" action="" class="col-12">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group col-12 mt-2">
                                        {{ form.password.label(class="form-control-label") }}
                                        {% if form.password.errors %}
                                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.password(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    
                                    <div class="form-group col-12">
                                        {{ form.submit(class="btn btn-danger btn-md") }} 
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-none d-md-block" style="background-color: #633942; border-radius: 20px 20px 20px 20px; height: 300px; position: sticky; top: 120px;">
            <h3 class="text-white mt-3" style="text-align: center;">Store More</h3>
            <p style="text-align: center;" >
              <small><b>Get going! Add more information.</b></small>
              <div class="list-group" style="border-radius: 20px 20px 20px 20px; text-align: center;">
                <a href="{{ url_for('new_anniversary') }}" class="list-group-item list-group-item-action">Add Anniversary</a>
                <a href="{{ url_for('new_task') }}" class="list-group-item list-group-item-action">Add Task</a>
                <a href="{{ url_for('new_password') }}" class="list-group-item list-group-item-action">Add Password</a>
            </div>
            </p>           
        </div>
    </div>
</div>

{% endblock %}














