<!DOCTYPE html>
<html>
    <head>
        <title>
        {% block title %}
        {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .navbar-dark{
                background-color: #512DA8;
            }

        </style>
    </head>
    <body>
        <div>
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <div class="container">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mr-auto" href="#"></a>
                
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg">Home</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="./aboutus.html"><span class="fa fa-info fa-lg">About</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-list fa-lg">Menu</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="./contactus.html"><span class="fa fa-address-card fa-lg">Contact</span></a></li>
                    </ul>
                </div>

            </div>
        </nav>
        </div>

        <!-- {% if current_user.is_authenticated %}
           <h1>{{ current_user.username }}</h1> is logged in.
        {% else %}
            <h1>No one logged in!</h1>
        {% endif %}  -->
       <!-- {% block head %}
        {% endblock %} -->
        <div class="container">
            <div class="col-12 col-sm-8">
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        
        {% block body %}
        {% endblock %}
    
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    </body>
</html>